{% extends "base.html" %}
{% block content %}
<div class="jumbotron">
  <div class="row">
    <div class="col-sm-4">
      <img style ="justify-content: left;"src="/static/logo.JPG" alt="logo">
    </div>
    <div class="col-sm-6" style="color: white;">
      <h2 >Welcome to the LiveStream </h2>
      <h3>  One platform for all your Live chats !!</h3>
        <br>
      <p style ="font-family:Verdana, Geneva, Tahoma, sans-serif">We help you manage all your live chats without any hassle of switching betwen applications. <br>
      This webservice enables you to manage all your live chats at different platform into one  <br>
      Integrated service available now  : <bold > Youtube & Twitch </bold>  </p>
    </div>
  </div>
</div>


{% endblock %}
 